body {
	background: url('/images/grid.png')
}

h1, h2, h3, h4, h5, h6 {
	font-family: JosefinSlab;
	font-weight: normal;
}

textarea {
	width: 100%;
	min-height: 150px
}

#wrapper{
	width: 680px;
	margin: 50px auto 0;
}

.right {
	text-align: right;
}

.post {
	margin-bottom: 20px;
	border-bottom: 1px solid gray;
	padding-bottom: 5px;	
}

.post > div {
	font-family: JosefinSlab;
	padding: 0 5px;
	color: #222;
	text-shadow: 1px 1px 1px #fff;
}