{% extends 'layout.html' %}

{% block content %}
<div id="wrapper">
	<h2>Welcome to Marble block, {{user.displayName}}</h2>

	<form id="post" method="POST" action="/a/post/new">
		<h4>Post</h4>
		<p><input type="text" name="title"></textarea></p>
		<p><textarea name="content"></textarea></p>
		<p class="right"><input type="submit" value="Create post"></p>
	</form>

	{% if not user.twitter %}
	<p><a href="/auth/twitter">Add Twitter acount to your profile</a><p>
	{% endif%}

	{% if not user.facebook %}
	<p><a href="/auth/facebook">Add Facebook acount to your profile</a><p>
	{% endif%}


	<div id="posts">
	{% for post in posts %}
		<div class="post">
			<h4><a href="/a/user/{{ post.owner.username }}/post/{{ post._id }}">{{ post.title }}</a> por <a href="/a/user/{{ post.owner.username }}">{{ post.owner.username }}</a></h4>
			<div>{{ post.content }}</div>
		</div>
	{% endfor %}
	</div>	

	<p style="text-align:right"><a href="/log-out">Log out</a></p>
</div>
{% endblock %}}